<section class="container">
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-turrent></app-turrent>
        <app-laser-cannon class="laser-cannon"></app-laser-cannon>
</section>