<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2><router-outlet></router-outlet></h2>
</div>
<app-star-destroyer></app-star-destroyer>
<div style="width: 90%; margin: auto;">
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-death-square></app-death-square>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
</div>
<app-star-destroyer></app-star-destroyer>